/* latin-ext */
@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: local("Caveat Brush"), local("CaveatBrush-Regular"), url(../fonts/EYq0maZfwr9S9-ETZc3fKXt8UrOS43o.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: local("Caveat Brush"), local("CaveatBrush-Regular"), url(../fonts/EYq0maZfwr9S9-ETZc3fKXt8XLOS.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: local("Homemade Apple Regular"), local("HomemadeApple-Regular"), url(../fonts/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local("Righteous"), local("Righteous-Regular"), url(../fonts/1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local("Righteous"), local("Righteous-Regular"), url(../fonts/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
set-background - mixin responsible for setting up background image
call:  @include set-background($imgA,$imgURL,$positionA,$sizeA,$attachA);
params:
--$imgA: path to image file, default: empty
--$imgURL: flag indicating use of image_url in image path variable, default: 0
----set it to 0, when image path was created by: [image_path/file_name]
----set it to 1, when image path was created by: image_url([image_path/file_name])
--$positionA: defines background-position, default: top top
--$sizeA: defines background-size of background, default: cover
--$attachA: defines background-attachment, default: fixed
*/
/*
set-bg-series - creates series of css classes with attached background images 
call:  set-bg-series($classNameA,$imgArrayA,[set-background-params])
params:
--$classNameA: class name, required, mixin wont work if empty
--$imgArrayA: array of background images
--[set-background-params]: refers to params for set-background mixin
*/
/*
aoa-bg-series - extends set-bg-series, replacing first two params by arrays of arrays,
call: @include aoa-bg-series($classArrayA,$imgAoA:'',[set-bg-series-params]){
params:
--$classArrayA: array of classes, default empty
--$imgAoA: array of backgroung images arrays, related to classes in $classArrayA default empty
--[set-bg-series-params]: refers to params for set-bg-series mixin
*/
/*
set-mb-property - sets css property value, including browsers' prefixes
call: @include set-mb-property($propertyA,$valueA);
params:
--$propertyA: css property name
--$valueA: property value
*/
/*
set-calc-property - sets css calc property value, including browsers' prefixes
call: @include set-calc-property($propertyA,$valueH,$valueL)
params:
--$propertyA: property name,
--$valueH: higher value,
--$valueL: increase value,
*/
/*
set-prop-series - creates set of classes with appropriate values of selected css property
call: @include set-prop-series($classNameA,$propertyA,$prefixMulA,$mbA,$startA,$endA,$stepA)
params:
--$classNameA: class prefix, required 
--$propertyA: property name, required
--$prefixMulA: points multiplier for class appended marker, must be >=1
--$mb: multibrowser flag, default 0
----0 for simple css property
----1 for multi browser css property
--$startA: range start value, default 0
--$endA: range end value, default 0
--$stepA: step value for property, default 0
*/
/* line 1, ../sass/partials/_layout.scss */
html, body {
  height: 100%;
  min-width: 300px;
}

/* line 5, ../sass/partials/_layout.scss */
section {
  min-height: 100%;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.index-s-1 {
  background-attachment: fixed;
  background-image: url(../img/idx-s1-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.index-s-2 {
  background-attachment: fixed;
  background-image: url(../img/idx-s2-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.menu-s-1 {
  background-attachment: fixed;
  background-image: url(../img/idx-s1-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.menu-s-2 {
  background-attachment: fixed;
  background-image: url(../img/img-breakfast.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.menu-s-3 {
  background-attachment: fixed;
  background-image: url(../img/img-lunch.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.menu-s-4 {
  background-attachment: fixed;
  background-image: url(../img/img-dinner.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.menu-s-5 {
  background-attachment: fixed;
  background-image: url(../img/img-dessert.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.menu-s-6 {
  background-attachment: fixed;
  background-image: url(../img/img-drinks.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.gallery-s-1 {
  background-attachment: fixed;
  background-image: url(../img/idx-s1-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.gallery-s-2 {
  background-attachment: fixed;
  background-image: url(../img/gallery-s2-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 39, ../sass/partials/_backgrounds.scss */
.contact-s-1 {
  background-attachment: fixed;
  background-image: url(../img/idx-s1-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 50, ../sass/partials/_properties.scss */
.h-25 {
  height: 25%;
}

/* line 50, ../sass/partials/_properties.scss */
.h-50 {
  height: 50%;
}

/* line 50, ../sass/partials/_properties.scss */
.h-75 {
  height: 75%;
}

/* line 50, ../sass/partials/_properties.scss */
.h-100 {
  height: 100%;
}

/* line 50, ../sass/partials/_properties.scss */
.m-0 {
  margin: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.m-1 {
  margin: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.m-2 {
  margin: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.m-3 {
  margin: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.m-4 {
  margin: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.m-5 {
  margin: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.mb-0 {
  margin-bottom: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.mb-1 {
  margin-bottom: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.mb-2 {
  margin-bottom: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.mb-3 {
  margin-bottom: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.mb-4 {
  margin-bottom: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.mb-5 {
  margin-bottom: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.ml-0 {
  margin-left: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.ml-1 {
  margin-left: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.ml-2 {
  margin-left: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.ml-3 {
  margin-left: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.ml-4 {
  margin-left: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.ml-5 {
  margin-left: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.mr-0 {
  margin-right: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.mr-1 {
  margin-right: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.mr-2 {
  margin-right: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.mr-3 {
  margin-right: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.mr-4 {
  margin-right: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.mr-5 {
  margin-right: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.mt-0 {
  margin-top: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.mt-1 {
  margin-top: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.mt-2 {
  margin-top: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.mt-3 {
  margin-top: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.mt-4 {
  margin-top: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.mt-5 {
  margin-top: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.p-0 {
  padding: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.p-1 {
  padding: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.p-2 {
  padding: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.p-3 {
  padding: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.p-4 {
  padding: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.p-5 {
  padding: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.pb-0 {
  padding-bottom: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.pb-1 {
  padding-bottom: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.pb-2 {
  padding-bottom: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.pb-3 {
  padding-bottom: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.pb-4 {
  padding-bottom: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.pb-5 {
  padding-bottom: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.pl-0 {
  padding-left: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.pl-1 {
  padding-left: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.pl-2 {
  padding-left: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.pl-3 {
  padding-left: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.pl-4 {
  padding-left: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.pl-5 {
  padding-left: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.pr-0 {
  padding-right: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.pr-1 {
  padding-right: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.pr-2 {
  padding-right: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.pr-3 {
  padding-right: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.pr-4 {
  padding-right: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.pr-5 {
  padding-right: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.pt-0 {
  padding-top: 0px;
}

/* line 50, ../sass/partials/_properties.scss */
.pt-1 {
  padding-top: 10px;
}

/* line 50, ../sass/partials/_properties.scss */
.pt-2 {
  padding-top: 20px;
}

/* line 50, ../sass/partials/_properties.scss */
.pt-3 {
  padding-top: 30px;
}

/* line 50, ../sass/partials/_properties.scss */
.pt-4 {
  padding-top: 40px;
}

/* line 50, ../sass/partials/_properties.scss */
.pt-5 {
  padding-top: 50px;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-0 {
  opacity: 0;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-1 {
  opacity: 0.1;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-2 {
  opacity: 0.2;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-3 {
  opacity: 0.3;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-4 {
  opacity: 0.4;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-5 {
  opacity: 0.5;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-6 {
  opacity: 0.6;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-7 {
  opacity: 0.7;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 50, ../sass/partials/_properties.scss */
.opacity-10 {
  opacity: 1;
}

/* line 23, ../sass/partials/_modules.scss */
#pointsmap {
  height: 300px;
  width: 100%;
}

/* line 29, ../sass/partials/_modules.scss */
.bg-brw {
  background-color: #321809 !important;
}
/* line 32, ../sass/partials/_modules.scss */
.bg-white {
  background-color: #fff !important;
}

/* line 37, ../sass/partials/_modules.scss */
.bottom-menu > li > a {
  text-decoration: none;
}
/* line 38, ../sass/partials/_modules.scss */
.bottom-menu > li > a:hover {
  color: #fff !important;
}

/* line 45, ../sass/partials/_modules.scss */
.carousel-control {
  width: 20% !important;
}
/* line 48, ../sass/partials/_modules.scss */
.carousel-indicators {
  height: 25px;
}
/* line 49, ../sass/partials/_modules.scss */
.carousel-indicators > li {
  background-image: url("../img/cup_icon.png");
  background-position: bottom center;
  background-size: cover;
  border: none;
  border-radius: 0;
  height: 18px;
  margin-top: 7px;
  width: 25px;
}
/* line 50, ../sass/partials/_modules.scss */
.carousel-indicators > li.active {
  background-color: transparent !important;
  height: 3px;
  margin-top: 22px;
  width: 25px;
}
/* line 56, ../sass/partials/_modules.scss */
.carousel-indicators > li:hover {
  margin-top: 0px;
  height: 25px;
}

/* line 72, ../sass/partials/_modules.scss */
.contact-data {
  margin-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 76, ../sass/partials/_modules.scss */
.contact-data form {
  opacity: 0.7;
  padding: 10px;
  background-color: black;
}
/* line 80, ../sass/partials/_modules.scss */
.contact-data form .form-control {
  margin-bottom: 5px;
}
/* line 83, ../sass/partials/_modules.scss */
.contact-data form input {
  background-color: black;
  border: none;
  color: white;
  box-shadow: none;
  border-bottom: 1px solid silver;
  border-radius: 0;
}
/* line 84, ../sass/partials/_modules.scss */
.contact-data form input:focus {
  background-color: black;
  box-shadow: none !important;
  color: white;
}
/* line 96, ../sass/partials/_modules.scss */
.contact-data form input[type="submit"], .contact-data form input[type="reset"] {
  font-size: 0.9em;
  background-color: black;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 3px 10px;
  margin: 6px;
  margin-bottom: 1px;
  border-bottom: 1px solid silver;
}
/* line 107, ../sass/partials/_modules.scss */
.contact-data form input[type="submit"]:hover, .contact-data form input[type="reset"]:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
}
/* line 113, ../sass/partials/_modules.scss */
.contact-data form textarea {
  background-color: black;
  color: white;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid silver;
  resize: none;
}
/* line 114, ../sass/partials/_modules.scss */
.contact-data form textarea:focus {
  background-color: black;
  box-shadow: none !important;
  color: white;
}
/* line 128, ../sass/partials/_modules.scss */
.contact-data div[class^="col"] {
  height: 300x;
}
/* line 130, ../sass/partials/_modules.scss */
.contact-data div[class^="col"]:first-of-type {
  background-color: white;
}
/* line 133, ../sass/partials/_modules.scss */
.contact-data div[class^="col"]:nth-of-type(2) {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 140, ../sass/partials/_modules.scss */
.d-flex {
  display: flex;
}

/* line 144, ../sass/partials/_modules.scss */
.float-none {
  float: none;
}

/* line 148, ../sass/partials/_modules.scss */
.font-logo {
  font-family: "Caveat Brush";
  font-size: 30px;
  font-weight: 500;
}
/* line 153, ../sass/partials/_modules.scss */
.font-menu {
  font-family: "Righteous";
  font-size: 16px;
  font-weight: 400;
}
/* line 158, ../sass/partials/_modules.scss */
.font-sign {
  font-family: "Homemade Apple";
  font-size: 25px;
  font-weight: 100;
}

/* line 164, ../sass/partials/_modules.scss */
.icon-item {
  color: #814417 !important;
  font-size: 30px;
}
/* line 165, ../sass/partials/_modules.scss */
.icon-item:hover {
  color: #fff !important;
}

/* line 171, ../sass/partials/_modules.scss */
.img-gall {
  box-shadow: 1px 1px 10px #111;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 176, ../sass/partials/_modules.scss */
.lead {
  color: #666;
}

/* line 179, ../sass/partials/_modules.scss */
.left, .right {
  background-image: none !important;
}

/* line 183, ../sass/partials/_modules.scss */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* line 187, ../sass/partials/_modules.scss */
.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}

/* line 193, ../sass/partials/_modules.scss */
.menu-list dd {
  padding: 20px;
}
/* line 196, ../sass/partials/_modules.scss */
.menu-list dt {
  color: #814417;
  font-family: "Righteous";
}

/* line 204, ../sass/partials/_modules.scss */
.navbar-nav > li > a {
  color: #fff !important;
}
/* line 205, ../sass/partials/_modules.scss */
.navbar-nav > li > a:hover {
  color: #814417 !important;
  text-decoration: none;
  text-shadow: none;
}
/* line 214, ../sass/partials/_modules.scss */
.navbar-toggle {
  border-color: #fff;
  color: #fff;
}

/* line 220, ../sass/partials/_modules.scss */
.px-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
/* line 224, ../sass/partials/_modules.scss */
.py-auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

/* line 230, ../sass/partials/_modules.scss */
.position-absolute {
  position: absolute;
}

/* line 234, ../sass/partials/_modules.scss */
.spacer {
  border-bottom: 3px solid #814417;
  display: flex;
  height: 30px;
  margin-bottom: 20px;
}
/* line 235, ../sass/partials/_modules.scss */
.spacer .inside {
  background-color: transparent;
  color: #814417;
  font-size: 30px;
  margin-left: 50%;
  position: relative;
  top: 5px;
  transform: translateX(-50%);
}

/* line 250, ../sass/partials/_modules.scss */
.section-spacer {
  height: 20px;
}
/* line 253, ../sass/partials/_modules.scss */
.section-title {
  color: #814417 !important;
  font-family: "Righteous";
}

/* line 259, ../sass/partials/_modules.scss */
.text-brw {
  color: #814417 !important;
}
/* line 262, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #222;
}
/* line 265, ../sass/partials/_modules.scss */
.text-white {
  color: #fff !important;
}

/* line 270, ../sass/partials/_modules.scss */
.w-100 {
  width: 100% !important;
}

@media all and (max-width: 576px) {
  /* line 2, ../sass/partials/_media.scss */
  .lead, form * {
    font-size: 11px;
  }

  /* line 5, ../sass/partials/_media.scss */
  .section-title {
    font-size: 1.57rem;
  }
}
@media all and (min-width: 576px) {
  /* line 11, ../sass/partials/_media.scss */
  .lead, form * {
    font-size: 13px;
  }

  /* line 14, ../sass/partials/_media.scss */
  .section-title {
    font-size: 1.64rem;
  }
}
@media all and (min-width: 768px) {
  /* line 20, ../sass/partials/_media.scss */
  .lead, form * {
    font-size: 15px;
  }

  /* line 23, ../sass/partials/_media.scss */
  .section-title {
    font-size: 1.71rem;
  }
}
@media all and (min-width: 992px) {
  /* line 29, ../sass/partials/_media.scss */
  .lead, form * {
    font-size: 17px;
  }

  /* line 32, ../sass/partials/_media.scss */
  .section-title {
    font-size: 1.78rem;
  }
}
@media all and (min-width: 1200px) {
  /* line 38, ../sass/partials/_media.scss */
  .lead, form * {
    font-size: 18px;
  }

  /* line 41, ../sass/partials/_media.scss */
  .section-title {
    font-size: 1.85rem;
  }
}
